.app {
  background-color: #bcf1ff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
body {
  background-color: #00c3b5;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #e0f9fe;
}

li, ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color:#e83e24;
  font-size: 28px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #e83e24;
  font-family: 'Poppins', sans-serif;
}

span {
  color: #b15bd8;
}

.container {
  display: flex;
  justify-content: center;
}

.add {
  margin-top: 5px;
  background-color: #ffa300;
  padding: 8px;
  border: none;
  border-radius: 10px;
  width: 70%;
  color: #fefeff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.clear {
  margin-bottom: 5px;
  background-color: #b15bd8;
  padding: 8px;
  border: none;
  width: 70%;
  color: #fefeff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  border-radius: 10px;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #bcf1ff;
  border-radius: 10px; 
}

